<h1 class="mt-5">Hello, Here are your posts
</h1>
<h2>
  <a href="/create">Create a Post</a>
</h2>

<div class="parallax fade-in display-none"><%=@user.f_name.downcase%></div>

<div class="grid-dash">
  <% @user.posts.reverse_each do |post| %>
    <% if post.id.to_i % 2 == 0 %>
      <div>
        <div class="grid-item-dash">
          <a href="post"><img src="<%=post.img%>" alt=""></a><br>
          <%t = post.updated_at%>
            <%m = t.strftime("%m")%>
              <%d = t.strftime("%d")%>
                <span class="sm-gray"><%=m%>.<%=d%>
                  <%= post.tag%>
                  <%= @user.f_name.downcase%>
                  <%= @user.l_name.downcase%></span><br>
                <span class="md-black"><%=post.title%></span>
              </div>
            </div>
          <% else %>
            <div>
              <div class="grid-item-dash grid-item-dash-width2">
                <a href="post"><img src="<%=post.img%>" alt=""></a><br>
                <%t = post.updated_at%>
                  <%m = t.strftime("%m")%>
                    <%d = t.strftime("%d")%>
                      <span class="sm-gray"><%=m%>.<%=d%>
                        <%= post.tag%>
                        <%= @user.f_name.downcase%>
                        <%= @user.l_name.downcase%></span><br>
                      <span class="md-black"><%=post.title%></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

<div class="parallax fade-in display-none"><%=@user.f_name.downcase%></div>
