<div class="parallax margin-top fade-in display-none"><%=@user.f_name.downcase%></div>

<div class="container">
  <div class="row my-5">
    <div class="col-lg-10 ">
      <h1 class="xlg-black">
        <% if @user.posts.empty? %>
        Welcome, start sharing what interests you.
        <% else %>
        Welcome back, here are your latest posts:
        <% end %>
      </h1>
    </div>
    <div class="col-lg-2">
      <a href="/create" class="link-btn">
        <div class="d-flex justify-content-center align-items-center">
          Create a Post
        </div>
      </a>
    </div>
  </div>

<div class="">
  <div class="grid-dash">
   <% @user.posts.reverse_each do |post| %>
    <div class="grid-item-dash">
      <div class="contain-edit">
            <img src="<%=post.img%>" alt="">
            <div class="edit"><a href="/edit/<%=post.id%>"><i class="fa fa-pencil fa-lg"></i></a></div>
            <div class="trash"><a href="/delete/<%=post.id%>"><i class="fa fa-trash fa-lg"></i></a></div>
      </div>
      <div class="row my-1">
            <%t = post.updated_at%>
              <%m = t.strftime("%m")%>
                <%d = t.strftime("%d")%>
                  <span class="sm-gray"><%=m%>.<%=d%>
                    <%= post.tag%>
                    <%= @user.f_name.downcase%>
                    <%= @user.l_name.downcase%>
                  </span>
                  <span class="md-black"><%=post.title%></span>
</div>
                </div>
         <% end %>
       </div>

</div>


</div>
