<div class="col-lg-10">
  <h1>Are you sure you want to delete this post?</h1>
</div>

<div class="col-lg-2">
		<a href="/delete/final/<%=@post.id%>" class="btn btn-outline-dark btn-sm">Delete</a>
</div>

<h2 class="md-black"><%=@post.title%></h2>
        <br>
<a href="/post/<%=@id%>">
<% if @post.tag == 'science' %>
  <div class="contain-overlay overlay pink">
<% elsif @post.tag == 'music' %>
  <div class="contain-overlay overlay blue">
<% else %>
   <div class="contain-overlay overlay yellow">
<%end%>
    <img src="/<%=@post.img%>" alt=""><br>
  </div>
  </a>
  <%t = @post.updated_at%>
    <%m = t.strftime("%m")%>
      <%d = t.strftime("%d")%>
        <% author = @post.user %>
          <span class="sm-gray"><%=m%>.<%=d%>
            <%= @post.tag%>
            <%= author.f_name.downcase%>
            <%= author.l_name.downcase%>
          </span>
          <p> <%= @post.content%> </p>
