<!-- carousel -->

<div style="width: 100%; height:80%" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators carousel-indicators-numbers">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active">
      <div class="mx-1">
        1
      </div>
    </li>
    <li data-target="#carouselIndicators" data-slide-to="1">
    <div class="mx-1">
      2
    </div>
  </li>
    <li data-target="#carouselIndicators" data-slide-to="2">    <div class="mx-1">
          3
        </div></li>
    <li data-target="#carouselIndicators" data-slide-to="3">    <div class="mx-1">
          4
        </div></li>
  </ol>
  <!-- carousel of latest posts  -->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <img class="d-block position-left img-fluid" style="height:400px" src="<%=@newest_posts[0].img%>" alt="First slide">
      <div class="hero-text-container">
        <div class="hero-text">
          <%=@newest_posts[0].title%>
        </div>
      </div>

      <div class="position-relative bottom-left">
        <a href="/post/<%=@newest_posts[0].id%>" class="link-btn">
            <div class="d-flex justify-content-center align-items-center">
              view
           </div>
          </a>
      </div>

    </div>

    <div class="carousel-item">
      <img class="d-block position-left img-fluid" style="height:400px" src="<%=@newest_posts[1].img%>" alt="Second slide">
      <div class="hero-text-container">
        <div class="hero-text">
            <%=@newest_posts[1].title%>
        </div>
      </div>

      <div class="position-relative bottom-left">
        <a href="/post/<%=@newest_posts[1].id%>" class="link-btn">
            <div class="d-flex justify-content-center align-items-center">
              view
           </div>
          </a>
      </div>

    </div>

    <div class="carousel-item">
      <img class="d-block position-left img-fluid" style="height:400px" src="<%=@newest_posts[2].img%>" alt="Third slide">
      <div class="hero-text-container">
        <div class="hero-text">
          <%=@newest_posts[2].title%>

        </div>
      </div>

      <div class="position-relative bottom-left">
        <a href="/post/<%=@newest_posts[2].id%>" class="link-btn">
            <div class="d-flex justify-content-center align-items-center">
              view
           </div>
          </a>
      </div>

    </div>

    <div class="carousel-item">
      <img class="d-block position-left img-fluid" style="height:400px" src="<%=@newest_posts[3].img%>" alt="Forth slide">
      <div class="hero-text-container">
        <div class="hero-text">
          <%=@newest_posts[3].title%>
        </div>
      </div>
      <div class="position-relative bottom-left">
        <a href="/post/<%=@newest_posts[3].id%>" class="link-btn">
            <div class="d-flex justify-content-center align-items-center">
              view
           </div>
          </a>
      </div>

    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" ></span>
  </a>

</div>

<div class="parallax fade-in display-none">Latest</div>
<!-- main content  -->
<div class="container-fluid">
<div class="my-5">
  <div class="grid">
    <% @newest_posts.each do |post| %>
      <% author = post.user %>
        <% if post.id.to_i.even?  %>
          <div class="grid-item m-2 ml-5">
            <% else %>
               <div class="grid-item grid-item--width2 m-2">
              <%end%>

            <a href="/post/<%=post.id%>">
              <% if post.tag == 'science' %>
                <div class="contain-overlay overlay pink">
              <% elsif post.tag == 'music' %>
                 <div class="contain-overlay overlay blue">
              <% else %>
                 <div class="contain-overlay overlay yellow">
              <%end%>
                   <img src="<%=post.img%>" alt=""><br>
                </div>
             </a>

                <%t = post.updated_at%>
                  <%m = t.strftime("%m")%>
                    <%d = t.strftime("%d")%>
                      <span class="sm-gray"><%=m%>.<%=d%>
                        -
                        <%= post.tag%>
                        -
                        <%= author.f_name.downcase%>
                        <%= author.l_name.downcase%></span><br>
                      <span class="md-black"><%=post.title%></span>
                    </div>
        <% end %>
              </div>
</div>
</div>
