<div class="container-fluid">
  <div class="row">

    <div class="col-lg-10">
      <h1 class="xlg-black m-5"><%=@post.title%></h1>
      <br>
    </div>

    <div class="col-lg-12">
        <a href="/post/<%=@id%>">
            <div class="contain-overlay mx-5 mb-3">
               <img src="/<%=@post.img%>" alt=""><br>
                <% if @post.tag == 'science' %>
                <div class="overlay position-absolute pink"> </div>
                <% elsif @post.tag == 'music' %>
                <div class="overlay position-absolute blue"> </div>
                <% else %>
                <div class="overlay position-absolute blue"> </div>
                  <%end%>
            </div>
        </a>

      </div>


          <div class="col-lg-10 mx-5">
            <%t = @post.updated_at%>
              <%m = t.strftime("%m")%>
                <%d = t.strftime("%d")%>
                  <% author = @post.user %>

                    <div class="col-lg-12">
                      <span class="md-black"><%=m%>.<%=d%>
                        -
                        <%= @post.tag%>
                        -
                        <%= author.f_name.downcase%>
                        <%= author.l_name.downcase%>
                      </span>
                    </div>

                    <div class="col-lg-10 col-sm-12">
                      <p class="lg-black py-4">
                        <%= @post.content%>
                      </p>
                    </div>

                  </div>

                </div>
              </div>
