<% if @view_manager.type == 'science' %>
<div class="parallax margin-top fade-in display-none pink"><%=@view_manager.type%></div>
<% elsif @view_manager.type == 'music' %>
 <div class="parallax margin-top fade-in display-none blue"><%=@view_manager.type%></div>
<% else %>
 <div class="parallax margin-top fade-in display-none yellow"><%=@view_manager.type%></div>
<% end %>
<div class="container-fluid">
  <div class="m-5">
    <div class="grid-posts">
      <% @view_manager.posts.reverse_each do |post| %>
        <div class="grid-item-post m-4">
           <a href="/post/<%=post.id%>">
            <div class="contain-overlay">
               <img src="/<%=post.img%>" alt="">
                <% if post.tag == 'science' %>
                <div class="overlay position-absolute pink"> </div>
                <% elsif post.tag == 'music' %>
                <div class="overlay position-absolute blue"> </div>
                <% else %>
                <div class="overlay position-absolute yellow"> </div>
                  <%end%>
            </div>
        </a>
              <%t = post.updated_at%>
              <%m = t.strftime("%m")%>
              <%d = t.strftime("%d")%>
                <span class="sm-gray"><%=m%>.<%=d%>
                  <%= post.tag%>
                  <%= post.user.f_name.downcase%>
                  <%= post.user.l_name.downcase%></span>
                  <span class="md-black"><%=post.title%></span>
                </div>
          <% end %>
         </div>
     </div>
  </div>
</div>
